* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #7c809b;
}

/* application header container */
.header-container {
    max-width: 800px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #7c809b;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

/* application name */
h1 {
    display: block;
    margin-top: 0;
    font-size: 32px;
    text-align: center;
    color: #ffffff;
}

/* main content container */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #7c809b;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

/* search bar */
#search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  
#search-input {
font-size: 16px;
padding: 8px;
border: 1px solid #ccc;
border-radius: 5px;
width: 200px;
max-width: 100%;
margin-right: 10px;
}

#search-button {
font-size: 16px;
padding: 8px;
background-color: #4CAF50;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
}

#search-button:hover {
background-color: #3e8e41;
} 

/* weather forecast data */
.forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.city-name {
    margin-top: 0;
    font-size: 28px;
    text-align: center;
    color: #ffffff;
}

.forecast-item {
    width: 160px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #545367;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.forecast-date {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
    color: #ffffff;
}

.forecast-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
}

.forecast-weather {
    font-size: 14px;
    line-height: 1.7em;
    color: #ffffff;
}

/* to be responsive */
@media (max-width: 980px) {
    .forecast-item {
        width: 100%;
    }
}

@media screen and (min-width: 980px) {
    #search-input {
        font-size: 18px;
        padding: 10px;
        width: 300px;
    }
      
    #search-button {
        font-size: 18px;
        padding: 10px;
    }
}
